:root {
    --footer-background: #121a29;
    --text-color: #FAFBFC;
    --text-orange: #f87306;
    --text-heading-gray: #F4F5F6;
    --text-primary: #FAFBFC;
    --button-color: #404652;
    --button-border: #6B707C;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el body ocupe al menos el 100% de la altura de la ventana */
    margin: 0;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*-------------------navbar----------------*/

.header {
    background-color: rgba(20, 20, 20, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100vw;
    padding: 5px 5%;
    position: fixed;
    z-index: 1000;
  }

.fondo {
    display: flex;
    position: fixed;
    height: 90px;
    width: 100vw;
    transform: translateY(-90px);
    background-color: #020202;
    transition: transform 0.3s ease;
    z-index: 900;
}

.header .logo{
    cursor: pointer;
    padding-left: 5%;
}

.header .logo img{
    padding-top: 5px;
    height: 45px;
    width: auto;
    transition: all .3s;
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links a{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 10px;
    position: relative;
    display: inline-block;   
}
.header .nav-links a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Altura de la línea */
    background-color: rgb(255, 255, 255); /* Color de la línea */
    transition: width .5s; /* Duración de la transición */
  }

.header .nav-links a:hover::after {
    width: 30px; /* Longitud final de la línea */
}

.header.scrolled .nav-links li a:hover{
    color: #ff5200;
}

/*-------------------main----------------*/
main {
    flex: 1; /* Hace que el main ocupe todo el espacio disponible */
}

.contenedor__eslogan{
    position: relative;
    background-image: url('./img/header_Mesa de trabajo .jpg');
    background-size: cover; 
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}


.eslogan{
    position: relative;
    padding-top: 42vh;
    padding-left: 10vw;
    padding-right: 20vw;
    text-align: left;
    color: white;
    font-weight: bolder;
    font-size: 2.1vw;
    white-space: nowrap;
    overflow: hidden;
}

.cursor {
    display: inline-block;
    height: 1.2em;
    width: 0.6em;
    background-color: white;
    animation: blinkCursor 1s infinite;
}
@keyframes blinkCursor {
    from,
    to {
        background-color: transparent;
    }
    50% {
        background-color: white;
    }
}
/*servicios*/

.servicios {
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    padding: 3vw;
    padding-top: 26vh;
    text-align: left; /* Centra el contenido horizontalmente */
}

.servicios__titulo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 32px;
}
.servicios__titulo-texto {
    width: 1500px;
    margin-left: 6vw;
    z-index: 0;
}

.servicios__titulo-texto h2 {
    width: 290px;
    height: 75px;
    background-color: black;
}
.servicios__titulo-texto p {
    text-align: center;
    font-size: 100%;
    color: white;
}

.servicios__colum {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.servicios__colum-foto {
    width: 75px;
    height: 75px;
}

.servicios__colum > div {
    padding: 5%;
    padding-top: 4%;
    width: 30vw;
    max-width: 500px; /* Establece un ancho máximo para las tarjetas */
    height: 40px;
    color: #808080;
    background-color: #ffffff;
    margin: 5px;
    box-sizing: border-box; /* Incluye el borde en el ancho y alto total */
}
.servicios__colum h4{
    margin-top: 16px;
    margin-bottom: 12px;
    font-size: 18px;
    font-family: 'Poppins';
    color: #ff5200;
}
.servicios__colum span{
    font-family: 'Poppins';
    color: #808080;
    font-weight: lighter;
    font-size: 18px;
}



/*------------------proceso ------------------*/

.proceso {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh; /* Ajusta la altura como desees */
    width: 100vw;
    background-image: url(./img/proceso__fondo.png); /* Reemplaza con la ruta de tu imagen de fondo */
    background-size: 103%;
    background-position: center;
    opacity: .94;
}

.proceso__contenedor{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 50vh;      
    width: 80vw;
    justify-content: center;
}

.proceso__titulo {
    padding: 5px 10px;
    margin-bottom: 60px; /* Ajusta el espacio entre el título y las tarjetas según sea necesario */
    color: #090909;
    background-color: #F4F5F6;
    display: inline-block;
    font-size: 1.3vw;
}

.proceso__cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.proceso__cards > div {
    width: 16vw;
    height: 40vh;    /* Ajusta el ancho de las tarjetas según sea necesario */
    color: #ffffff;
    background-color: #ff5100;
    border-radius: 20px; 
    box-sizing: border-box; /* Incluye el borde en el ancho y alto total */
    overflow: hidden;
}

.proceso__cards h4{
    padding-top: 5%;
    padding-left: 5%;
    font-size: .9vw;
}

.proceso__cards p{
    padding-left: 5%;
    padding-right: 5%;
    font-size: .8vw;
}

.proceso__cards-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5px;
}
.proceso__cards-text-2{
    height: 50%;
}

.proceso__cards #p1:hover{
    position: relative;
    background-color: #080808;
    color: white;
    transition: ease .2s;
    z-index: 10;
    box-shadow: 0px 0px 30px #ff5100;
    transition: box-shadow .25s;
}

.proceso__cards #p1:hover::before{
    content: "";
    background-image: url(./img/investigacion\ y\ analisis.png);
    background-size: 100%;
    border-radius: 20px; 
    opacity: 0.2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.proceso__cards #p2:hover{
    position: relative;
    background-color: #080808;
    color: white;
    transition: ease .2s;
    z-index: 10;
    box-shadow: 0px 0px 30px #ff5100;
    transition: box-shadow .25s;
}
.proceso__cards #p2:hover::before{
    content: "";
    background-image: url(./img/Estrategia\ y\ planificación.png);
    background-size: 100%;
    border-radius: 20px; 
    opacity: 0.2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.proceso__cards #p3:hover{
    position: relative;
    background-color: #080808;
    color: white;
    transition: ease .2s;
    z-index: 10;
    box-shadow: 0px 0px 30px #ff5100;
    transition: box-shadow .25s;
}
.proceso__cards #p3:hover::before{
    content: "";
    background-image: url(./img/Implementación\ y\ ejecución.png);
    background-size: 100%;
    border-radius: 20px; 
    opacity: 0.2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.proceso__cards #p4:hover{
    position: relative;
    background-color: #080808;
    color: white;
    transition: ease .2s;
    z-index: 10;
    box-shadow: 0px 0px 30px #ff5100;
    transition: box-shadow .25s;
}
.proceso__cards #p4:hover::before{
    content: "";
    background-image: url(./img/Seguimiento\ y\ optimización.png);
    background-size: 100%;
    border-radius: 20px; 
    opacity: 0.2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

/*------------------nosotros ------------------*/

.nosotros {
    background-color: white;
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    flex: 1;
}
.nosotros__info{
    width: 100vw;
    flex: 2;
    padding-top: 20vh;
    padding-right: 50px;
    padding-left: 150px;
}
.nosotros__info p {
    margin-bottom: 16px;
    margin-right: 10vw;
    /*font-size: 20px;*/
    font-size: 1vw;
    color: #808080;
}

.nosotros__info h1 {
    padding: 1vh 2vh;
    margin-bottom: 50px;
    font-size: 2.2vw;
    color: #ffffff; 
    background-color: #020202;
    display: inline-block;
}


.nosotros__img{
    margin-top: 60px;
    display: flex;
    width: 100vw;
    flex: .9;
    flex-direction: column;
    justify-content: space-around;
}

.nosotros__img-img{/*tamaño de ambos*/
    position: relative;
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    cursor: pointer;
}

.ceo-1{/*foto de cada div*/
    background-image: url(./img/mare.png);
    background-size: 100%;
    transition: all 500ms ease-out;
}

.ceo-2{
    background-image: url(./img/mariano.png);
    background-size: 100%;
    transition: all 500ms ease-out;
}

.nosotros__img .nosotros__img-nombre{
    position: relative;
    top: 0;
    padding-top: 45%;
    -webkit-text-stroke: 1px rgba(66, 66, 66, 0.5);
    color: #F4F5F6;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background: rgba(49, 49, 49, 0.678);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.nosotros__img .nosotros__img-img:hover > .nosotros__img-nombre{
    opacity: 1;
    visibility: visible;
}



.nosotros__ceo{
    display: flex;
    width: 100vw;
    flex: 1.1;
    flex-direction: column;
    justify-content: space-around;
}

.nosotros__ceo-ceo{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.nosotros__ceo-ceo h1{
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #f87306;
}

.nosotros__ceo-ceo p{
color: #808080;
}

/*-------------------aside----------------*/

aside .whatsapp{
    width: 70px;
    height: 70px;
    background-color: rgba(0, 133, 51, 0);
    position: fixed;
    top: 90vh;
    left: 90vw;
    transform: translate(0%,-110%);
    z-index: 200000;
}

aside .whatsapp a {
    display: block;
    width: 70px;
    height: 70px;
}

aside .whatsapp img {
    width: 100%;
    height: 100%;
}

.scrollbar__line{
    display: flex;
    width: 2px;
    height: 25vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 50vh;
    left: 3vw;
}
.scrollbar__button{
    display: flex;
    position: fixed;
    top: 43vh;
    left: 2.6vw;
    writing-mode: vertical-lr;
}
#scrollbarButton{
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}
#scrollbarButton.changeColor {
    color: rgb(0, 0, 0); /* Cambia a rojo cuando pasa por el tercer div */
}

/*-------------------footer----------------*/

footer {
    background-color: var(--footer-background);
    width: 100vw;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: auto; /* Empuja el footer hacia abajo */
    z-index: 100000;
}

.footer-wrapper {
    display: flex;
    background: var(--footer-background);
    flex-direction: column;
    width: 100vw;
    max-width: 1320px;
    padding: 26px;
}


/*? top section */
.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    padding: 16px 0px;
    justify-content: space-between;
}


/*? footer subscribe */
.footer-subscribe {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.footer-subscribe > input {
    border: 1px solid var(--button-border);
    color: var(--text-color);
    outline: none;
    min-height: 36px;
    background-color: var(--footer-background);
    font-size: 1.2rem;
    flex: 1 0 120px;
    padding: 8px 12px;
    border-radius: 8px;
}

.footer-subscribe > input::placeholder {
    color: var(--text-color);
}

.footer-subscribe > button {
    cursor: pointer;
    background-color: var(--button-color);
    border-radius: 8px;
    color: #ff5200;
    font-size: 1.25rem;
    min-width: 120px;
    min-height: 36px;
    flex: 1 0 80px;
    white-space: nowrap;
    padding: 8px 12px;
    border: 0px;
    outline: none;
    border: 1px solid var(--button-border);
}



/*? Footer bottom */

.footer-bottom {
    text-align: center;
    margin-top: 48px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 16px;
    padding: 16px 0px;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #ffffff;
}

.footer-bottom > small {
    font-size: 16px;
    margin: 0 4px;
}

.footer-headline > h2 {
    margin: 0px;
    color: var(--text-primary);
}

.footer-headline > p {
    color: var(--text-orange);
    margin: 4px 0px 20px 0px;
}

.footer-line {
    display: block;
    min-width: 40px;
    width: 100%;
    height: 2px;
    background-color: var(--text-orange);
}

.footer-subscribe :hover{
    color: #F4F5F6;
    background-color: #111111;
}

.social-links {
    display: flex;
    gap: 8px;
    align-items: center;
}

.social-text {
    display: flex;
    align-items: center;
    gap: 8px;
}

.social-links img {
    width: 24px;
    height: 24px;
    transition: all 0.2s ease-in-out;
}

.social-links img:hover {
    transform: scale(1.1);
}

.social-links ul {
    display: flex;
    gap: 12px;
    list-style-type: none;
}



/*? mobile */

@media only screen and (max-width: 800px) {
    .header {
        display: flex;
        position: fixed;
        height: 90px;
        width: 100vw;
        background-color: #020202;
        transition: transform 0.3s ease;
        z-index: 900;
        padding: 5px 0%;
    }
    .header .nav-links a {
        font-size: 15px;
        margin: 0;
    }
    .header .nav-links li {
        padding-left: 88px;
    }
    .eslogan{
        padding-left: 5vw;
        padding-right: 15vw;
        font-size: 5.5vw;
    }
    .contenedor__eslogan {
        background-size: cover; /* Puedes ajustar esto según tus preferencias */
    }
    .servicios__titulo {
        margin-top: -20%;
        padding-bottom: 20%;
    }
    .servicios__titulo-texto h2 {
        width: 70%;
        height: 100%;
    }
    .servicios__titulo-texto p {
        font-size: 90%;
    }
    .servicios__colum > div {
        margin: 1px;
        text-align: center;
    }
    .servicios__colum h4 {
        font-size: 85%;
    }
    .servicios__colum span {
        font-size: 85%;
    }
    .proceso__titulo {
        font-size: 3vw;
    }
    .proceso__cards {
        display: flex;
        flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en filas adicionales */
        justify-content: space-between;
        width: 100%;
    }    
    .proceso__cards > div {
        width: 48%; /* Establece el ancho de cada tarjeta para que haya dos tarjetas en una fila */
        height: 24vh;
    }
    .proceso__cards-text {
        margin-bottom: 2vh;
    }
    .proceso__cards-text h4{
        font-size: 10px;
    }
    .proceso__cards-text p{
        font-size: 7px;
    }
    .nosotros__info {
        padding-right: 30px;
        padding-left: 30px;
    }
    .nosotros__info h1 {
        font-size: 5vw;
    }
    .nosotros__info p {
        font-size: 3.4vw;
        margin-right: 0;
    }
    .nosotros__img{
        display: none;
    }
    .nosotros__ceo{
        display: none;
    }
    aside .whatsapp{
        left: 80vw;
    }

    .scrollbar__line{
        display: none;
    }

    .scrollbar__button{
        display: none;
    }

    .footer-wrapper {
        padding: 2px;
    }
    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 16px 8px 32px 8px;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column-reverse;
        align-items: space-between;
        justify-content: center;
        margin: 0 auto;
    }

}

/*? tablets */

@media only screen and (min-width: 801px) and (max-width: 1023px) {
    .header .nav-links li{
        padding: 0;
    }
}

@keyframes scrollAnimation {
    from {
        background-color: rgba(20, 20, 20, 0);
    }
    to {
        background: linear-gradient(to bottom, #111111, rgba(20, 20, 20, 0));
        background-color: #111111;
    }
}